<div class="center jumbotron">
  <h1 class="display-4">Alpha Blog</h1>
  <p class="lead">Welcome to my blog.</p>
  <hr class="my-4">
  <p>To view my posts and make your own please sign up.</p>
  <%= link_to "Sign Up", signup_path, class: "btn btn-warning btn-lg" %>
</div>
