@import "bootstrap";

#logo {

    float: left;
    font-size: 1.7em;
    color: #ebbd29;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
    
}

#logo:hover {
 
    color: #3F4448;
    text-decoration: none;

}

.center {

    text-align: center;
    
}