@import "bootstrap";

#logo {

    float: left;
    font-size: 1.7em;
    color: #ebbd29;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
    
}

#logo:hover {
 
    color: #3F4448;
    text-decoration: none;

}

.center {

    text-align: center;

}

.jumbotron {

    background-image: asset-url('pexels-photo-1048043.jpg');
    background-size: cover;
    height: 550px;
    opacity: 0.75;

}

.jumbotron h1 {
    color: #000;
    text-align: center;
    
}

.jumbotron p {
    color: #000;
    text-align: center;
    
}

.article-actions {
    border-top: 1px solid #3F4448;
    padding-top: 5px;
}

.description {
    margin-top: 0;
}

.card {
    margin-bottom: 2em;
    
}

.article-title {
    font-weight: bold;
    font-size: 1.5em;
}

.article-body {
    border-top: 1px solid #3F4448;
    padding-top: 15px;
    padding-bottom: 15px;

}

.article-actions {
    padding-bottom: 1em;
    padding-left: 1.25em;
}

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #3F4448;
    color: #ebbd29;
}

footer small {
    float: left;
}

footer ul {
    float: right;
    list-style: none;
}

footer ul li {
    float: left;
    margin-left: 15px;
    color: #ebbd29;
}